
.chat {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted $color_mountain_mist_approx;
    &.left .chat-body {
      margin-left: 60px;
    }
    &.right .chat-body {
      margin-right: 60px;
    }
    .chat-body p {
      margin: 0;
    }
  }
  .glyphicon {
    margin-right: 5px;
  }
}
.timeline {
  list-style: none;
  position: relative;
  padding: 20px 0;
  &:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: $color_gallery_approx;
  }
  > li {
    position: relative;
    margin-bottom: 20px;
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    &:before {
      content: " ";
      display: table;
    }
    > {
      .timeline-panel {
        float: left;
        position: relative;
        width: 46%;
        padding: 20px;
        border: 1px solid $color_quill_gray_approx;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 2px;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: 0 1px 6px $black_17_5;
        &:before {
          content: " ";
          display: inline-block;
          position: absolute;
          top: 26px;
          right: -15px;
          border-top: 15px solid transparent;
          border-right: 0 solid $color_celeste_approx;
          border-bottom: 15px solid transparent;
          border-left: 15px solid $color_celeste_approx;
        }
        &:after {
          content: " ";
          display: inline-block;
          position: absolute;
          top: 27px;
          right: -14px;
          border-top: 14px solid transparent;
          border-right: 0 solid $white;
          border-bottom: 14px solid transparent;
          border-left: 14px solid $white;
        }
      }
      .timeline-badge {
        z-index: 100;
        position: absolute;
        top: 16px;
        left: 50%;
        width: 50px;
        height: 50px;
        margin-left: -25px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 50%;
        text-align: center;
        font-size: 1.4em;
        line-height: 50px;
        color: $white;
        background-color: $color_mountain_mist_approx;
      }
    }
    &.timeline-inverted > .timeline-panel {
      float: right;
      &:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }
      &:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
    }
  }
}
body {
  background-color: $color_desert_storm_approx;
}
#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: $white;
}
@media(min-width:768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid $color_mercury_approx;
  }
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }
  .navbar-top-links {
    .dropdown-alerts {
      margin-left: auto;
    }
    .dropdown-messages {
      margin-left: auto;
    }
    .dropdown-tasks {
      margin-left: auto;
    }
  }
}
.navbar-top-links {
  margin-right: 0;
  li {
    display: inline-block;
    &:last-child {
      margin-right: 15px;
    }
    a {
      padding: 15px;
      min-height: 50px;
    }
  }
  .dropdown-alerts {
    width: 310px;
    min-width: 0;
    margin-left: -123px;
  }
  .dropdown-messages {
    width: 310px;
    min-width: 0;
    margin-left: 5px;
  }
  .dropdown-tasks {
    width: 310px;
    min-width: 0;
    margin-left: -59px;
  }
  .dropdown-user {
    right: 0;
    left: auto;
  }
  .dropdown-menu li {
    display: block;
    &:last-child {
      margin-right: 0;
    }
    a {
      padding: 3px 20px;
      min-height: 0;
      div {
        white-space: normal;
      }
    }
  }
}
.flot-chart {
  display: block;
  height: 400px;
}
.sidebar {
  .sidebar-search {
    padding: 15px;
  }
  .arrow {
    float: right;
  }
  .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  ul li {
    border-bottom: 1px solid $color_mercury_approx;
    a.active {
      background-color: $color_gallery_approx;
    }
  }
  .fa.arrow:before {
    content: "\F104";
  }
  .active > a > .fa.arrow:before {
    content: "\F107";
  }
  .nav-second-level li {
    border-bottom: none!important;
    a {
      padding-left: 37px;
    }
  }
  .nav-third-level li {
    border-bottom: none!important;
    a {
      padding-left: 52px;
    }
  }
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all .5s;
}
.login-panel {
  margin-top: 25%;
}
.flot-chart-content {
  width: 100%;
  height: 100%;
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
  &.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
  }
  &.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
  }
}
.show-grid {
  margin: 15px 0;
  [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid $color_alto_approx;
    background-color: $color_gallery_approx!important;
  }
}
.huge {
  font-size: 40px;
}
.panel-green {
  border-color: $color_fern_approx;
  > a {
    color: $color_fern_approx;
    &:hover {
      color: $color_goblin_approx;
    }
  }
  > .panel-heading {
    border-color: $color_fern_approx;
    color: $white;
    background-color: $color_fern_approx;
  }
}
.panel-red {
  border-color: $color_chestnut_rose_approx;
  > a {
    color: $color_chestnut_rose_approx;
    &:hover {
      color: $color_tall_poppy_approx;
    }
  }
  > .panel-heading {
    border-color: $color_chestnut_rose_approx;
    color: $white;
    background-color: $color_chestnut_rose_approx;
  }
}
.panel-yellow {
  border-color: $color_casablanca_approx;
  > a {
    color: $color_casablanca_approx;
    &:hover {
      color: $color_golden_bell_approx;
    }
  }
  > .panel-heading {
    border-color: $color_casablanca_approx;
    color: $white;
    background-color: $color_casablanca_approx;
  }
}
.timeline-badge {
  &.primary {
    background-color: $color_astral_approx!important;
  }
  &.success {
    background-color: $color_goblin_approx!important;
  }
  &.warning {
    background-color: $color_casablanca_approx!important;
  }
  &.danger {
    background-color: $color_chestnut_rose_approx!important;
  }
  &.info {
    background-color: $color_viking_approx!important;
  }
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body {
  > p {
    margin-bottom: 0;
    + p {
      margin-top: 5px;
    }
  }
  > ul {
    margin-bottom: 0;
  }
}
@media(max-width:767px) {
  ul.timeline {
    &:before {
      left: 40px;
    }
    > li > {
      .timeline-panel {
        width: calc(10%);
        float: right;
        &:before {
          right: auto;
          left: -15px;
          border-right-width: 15px;
          border-left-width: 0;
        }
        &:after {
          right: auto;
          left: -14px;
          border-right-width: 14px;
          border-left-width: 0;
        }
      }
      .timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
      }
    }
  }
}
@charset "UTF-8";
.btn-primary.btn-outline {
  color: $color_boston_blue_approx;
  &:hover {
    color: $white;
  }
}
.btn-success.btn-outline {
  color: $color_fern_approx;
  &:hover {
    color: $white;
  }
}
.btn-info.btn-outline {
  color: $color_viking_approx;
  &:hover {
    color: $white;
  }
}
.btn-warning.btn-outline {
  color: $color_casablanca_approx;
  &:hover {
    color: $white;
  }
}
.btn-danger.btn-outline {
  color: $color_chestnut_rose_approx;
  &:hover {
    color: $white;
  }
}
.panel .slidedown .glyphicon {
  margin-right: 5px;
}
.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}
table.dataTable thead {
  .sorting {
    background: 0 0;
    &:after {
      content: "\F0DC";
      float: right;
      font-family: $font_1;
      color: $mine_shaft_50;
    }
  }
  .sorting_asc {
    background: 0 0;
    &:after {
      content: "\F0DE";
      float: right;
      font-family: $font_1;
    }
  }
  .sorting_asc_disabled {
    background: 0 0;
  }
  .sorting_desc {
    background: 0 0;
    &:after {
      content: "\F0DD";
      float: right;
      font-family: $font_1;
    }
  }
  .sorting_desc_disabled {
    background: 0 0;
  }
}