img {
  width: 50px;
  transition: width 0.5s ease, height 0.5s ease;
}

#models-table > tbody > tr > td > img:hover {
  overflow: visible;
  width: 150px;
  height: 150px;
}

td.details-control {
  background: url('http://next.datatables.net/examples/resources/details_open.png') no-repeat center center;
  cursor: pointer;
}

tr.shown td.details-control {
  background: url('http://next.datatables.net/examples/resources/details_close.png') no-repeat center center;
}

.deleteContent {
  padding-left: 20px;
  padding-right: 20px;
}

.d-md-block .img-thumbnail {
  width: 250px;
  height: 250px;
}

#tab2 > div > div > div > div {
  padding: 20px;
}

#drag-and-drop-zone1 input, #drag-and-drop-zone3 input, #drag-and-drop-zone5 input, #drag-and-drop-zone7 input, #drag-and-drop-zone9 input {
  z-index: 10;
}